
<body [ngStyle]="{'font-size.px': fontSize, 'font-family': fontFamily}"[ngClass]="{darkmode: is_dark }">
	<button (click)="toggleSettings()" class="btn btn-outline-secondary">
			<div *ngIf="!show_settings">Show settings</div>
			<div *ngIf="show_settings">Hide settings</div>
	</button>
	<div  *ngIf="show_settings">
		<br/>
		<label for="fontSize">What font size would you like?</label>
		<div style="width: 100px">
			<select class="custom-select" [(ngModel)]="fontSize" name="fontSize">
				<option *ngFor="let font of fontSizes" value="{{font.size}}">{{font.name}} </option>
			</select>
		</div>
		<label for="fontFamilies">What font would you like?</label>
		<div style="width: 175px">
			<select class="custom-select" [(ngModel)]="fontFamily" name="fontFamilies">
				<option *ngFor="let font of fontFamilies">{{font.name}} </option>
			</select>
		</div>
		<button (click)="toggleDark()" class="btn btn-dark">
			Toggle dark mode
		</button>
	</div>
</body>