<div class="container">
		
    <h2>Change Username and Password</h2>
    <div class="container">
        <form #accountForm="ngForm" (submit)="onSubmit(accountForm.value)">
            <p id="notice">You will be required to login again after updating your credentials</p>
            Current Password: 
            <input type="password" [ngModel] #pwd="ngModel" name="password" class="form-control" placeholder="Password" autofocus required />
            <span class="alert-danger" *ngIf="pwd.invalid && pwd.touched" id="pwdError">
                Required: Please enter your current password
            </span>
            <br/>

            New Username: 
            <input type="text" [ngModel] #newUser="ngModel" name="newUsername" class="form-control" placeholder="New Username" required />
            <span class="alert-danger" *ngIf="newUser.invalid && newUser.touched" id="usernameError">
                Required: Please enter a new username
            </span>
            <br/>

            New Password: 
            <input type="password" [ngModel] #newPwd="ngModel" name="newPassword" class="form-control" placeholder="New Password" required />
            <span class="alert-danger" *ngIf="newPwd.invalid && newPwd.touched" id="newPwdError">
                Required: Please enter a new password
            </span>
            <br/>
                
            <button type="submit" class="btn btn-light" [disabled]="!accountForm.form.valid">Update</button>   
        </form>
    </div>
    
    <!-- Response from PHP -->
    <!-- make class bg-danger if error and bg-success or success -->
    <div id="response" [ngStyle]="{'color': 'white'}" 
        [ngClass]="{
            'bg-success': responsedata['code'] === 200,
            'bg-danger': responsedata['code'] !== 200
        }">
        {{ responsedata['message'] }}
    </div>

</div>