<header>
    <nav>
        <a href="#"id="logo"><img src="http://localhost/projects/labor-tracker/images/logo.png" alt="Twin Oaks Leaves"></a>
        <a href="http://localhost/projects/labor-tracker/profile.php" id="site-name">Twin Oaks</a>
        <ul class="nav">
            <li><a href="http://localhost/projects/labor-tracker/input.php"><i class="fas fa-clock"></i>Enter Hours</a></li>
            <li><a href="http://localhost/projects/labor-tracker/profile.php"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="http://localhost:4200?page=account&user={{user}}"><i class="fas fa-address-card"></i>Account</a></li>
            <li><a href="http://localhost/projects/labor-tracker/logout.php"><i class="fas fa-sign-in-alt"></i>Logout</a></li>
        </ul>
    </nav>
</header>