/* author: Peter Chen */
.welcome {
	width: 100%;
}

.welcome h2 {
	color: rgb(0, 0, 0);
	font-size: 30px;
	text-align: center;
}

p#total-hours {
	font-size: 17px;
	position:relative;
	left: 50%;
	margin-top: 3%;
	transform: translate(-50%, -50%);
	width: 260px;
}

#myChart {
	height: 400px;
	width: 400px;
}