/* author: Peter Chen */
.welcome {
	width: 100%;
}

h2 {
	color: rgb(94, 103, 112);
	font-size: 30px;
	text-align: center;
}

p#total-hours {
	font-size: 17px;
	position:relative;
	left: 850px;
	width: 260px;
}

#chart {
	height: 200px;
	width: 200px;
}

label.checkbox {
	position: relative;
	left: 850px;
}